.profile__occupation {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 5px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 494px;
}
@media (max-width: 900px) {
    .profile__occupation {
      align-self: center;
      justify-self: center;
      font-size: 14px;
      line-height: 17px;
    }
  } 
  @media (max-width: 600px) {
    .profile__occupation {
      text-align: center;
      max-width: 270px;
    }
  } 
