.popup__edit {
    width: 358px;
    height: 27px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 29px 36px 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  @media (max-width: 900px) {
    .popup__edit {
      width: 238px;
      margin: 29px 22px 0;
    }
  } 